.product_unit img {
    height: 235px;
    width: 100%;
    margin-bottom: 15px;
}

.header img {
    float: left;
    height: 100%;
    margin: 0 15px;
}

.catalog_image {
    display: block;
    width: 100%;
}

.game_image {
    width: 20%;
    border: rgb(1, 86, 107) solid 4px;
    float: left;
    margin-right: 15px;
}

.game_image:hover {
    border-color: transparent;
}