body {
    background: #f8f8f8;
}

.main_image {
    width: 50%;
}

.catalog_image {
    width: 20%;
}

.game_image {
    width: 40%;
    border: #5a0a0a solid 4px;
}

.menu {
    list-style-type: none;
}

.menu li a {
    color: rgb(1, 127, 158);
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.product_header {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background: #eaeaea;
}

.product_short_description {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

.product_full_description {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.product_features {
    color: #5a0a0a;
    font-size: 18px;
}

.product_features li {
    list-style: none;
    background: url(../images/list.png) no-repeat left center;
    background-size: 2%;
    padding-left: 35px;
}