body {
    background: #f8f8f8;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.header {
    height: 150px;
    background: url('../images/header_background.png') repeat;
}

.shop_name {
    float: left;
    width: 250px;
    margin: 55px 0;
    text-align: center;
    color: rgb(1, 86, 107);
    font-size: 20px;
    font-variant: small-caps;
}

.main_image {
    width: 50%;
}

.header img {
    float: left;
    height: 90%;
    margin: 10px 15px;
}

.catalog_image {
    width: 20%;
}

.game_image {
    width: 40%;
    border: #5a0a0a solid 4px;
}

.game_image:hover {
    border-color: transparent;
}

.menu {
    list-style-type: none;
    float: right;
    margin-right: 20px;
}

.menu li {
    display: inline-block;
    height: 25px;
    vertical-align: bottom;
    width: 100px;
}

.menu li a {
    color: rgb(1, 127, 158);
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.menu li a:hover {
    color: rgb(1, 86, 107);
    font-size: 24px;
}

.footer {
    text-align: center;
    background: #cfcfcf;
}

.product_header {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background: #eaeaea;
}

.product_short_description {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

.product_full_description {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.product_short_description::first-letter,
.product_full_description::first-letter,
.product_additional_description::first-letter {
    font-size: 20px;
    color: #5a0a0a;
    font-weight: bold;
    font-style: italic;
}

.product_features {
    color: #5a0a0a;
    font-size: 18px;
}

.product_features li {
    list-style: none;
    background: url(../images/list.png) no-repeat left center;
    background-size: 2%;
    padding-left: 35px;
}

table.product_features {
    border-collapse: collapse
}

table.product_features td,
table.product_features th {
    border: 1px solid #484343;
}

table.product_features td:nth-child(2) {
    text-align: center;
}

.contact_form textarea {
    width: 800px;
    height: 100px;
}

.contact_form label {
    line-height: 45px;
}

.contact_form input[type="text"],
.contact_form input[type="email"] {
    position: absolute;
    width: 400px;
    height: 35px;
    left: 250px;

    font-size: 20px;
    color: rgb(0, 76, 95);
    font-variant: small-caps;
    text-transform: capitalize;
}

.contact_form input[type="email"]:focus {
    background: rgb(0, 76, 95);
    color: white;
}